@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); /*reset css*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400"); 
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  font-size: 62.5%;
  font-family: "Poppins", Helvetica;
}

a {
  text-decoration: none;
}
